body {
    background-color: black;
    font-family: 'Lato', sans-serif;
}

.borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
    border: none;
}

table {
    width: 80%;
    color: white;
}


.header {
    color: white;
    width: 90px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bolder;
}

.header-item-p {
    color: #67F7E0;
    width: 30px;
}

.header-p {
    width: 30px;
}

.header-name {
    width: 150px;
}

.header-gap {
    width: 40px;
}

.header-interval {
    width: 175px;
}

.header-sector {
    width: 175px;
}

.header-sector3 {
    width: 80px;
}

.header-lap {
    color: #F2FD3C;
}